/* Content */
.content {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Content Blocks */
.content-block {
    display: none;
}
.content-block.active {
    border-radius: 10px;
    background-color: var(--container-color);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.content-block::-webkit-scrollbar {
    width: 15px;
}
.content-block::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 6px;
}
.content-block::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 6px;
    cursor: pointer;
}